@import "../../../../assets/globals/sizes";

.home-page-container {
  width: 100%;
  height: 100%;

  & .text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;

    & .title {
      font-size: 5rem;
      margin-bottom: 4rem;
    }

    & .sub-title {
      font-size: 2rem;
    }

    & a {
      color: #000000;
    }
  }
}
