@import "src/assets/globals/sizes";
@import "src/assets/globals/vars";
@import "src/assets/globals/title";
@import "src/assets/globals/list";
@import "src/assets/globals/categories";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Andale monospace, "Helvetica Neue", sans-serif;
}
